.column {
  float: left;
  width: 20%;
  border: solid black;
  margin: 50px;
  padding: 20px;
  background-color: red;
  text-align: center;

}

.name{
  font-size: 20px;
  font-style: bold;
  text-align: center;
}
h1{
  text-align: center;
  font-style: bold;
}

@media screen and (max-width 480px) and (min-width 300px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width 1000px) and (min-width 700px) {
  body {
    background-color: teal;
    color: white;
  }
}
